<a href="https://colab.research.google.com/github/brittabeta/Data-Extraction/blob/main/SpeedTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
!pip install openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats
%matplotlib inline
import matplotlib.pyplot as plt

In [12]:
path1 = '/content/fixedCitiesMedian.xlsx'
path2 ='/content/mobileCitiesMedian.xlsx'
path3 = '/content/fixedMedian.xlsx'
path4 = '/content/mobileMedian.xlsx'

In [6]:
evens = range(2,501,2)

In [10]:
dfcf = pd.read_excel(path1, header=0, skiprows=evens)
dfcf.head()

                              City    Mbps       Month               Name
0                   Beijing, China  264.92  March 2023  fixedCitiesMedian
1  Abu Dhabi, United Arab Emirates  261.97  March 2023  fixedCitiesMedian
2                  Shanghai, China  232.08  March 2023  fixedCitiesMedian
3                Bangkok, Thailand  224.67  March 2023  fixedCitiesMedian
4          New York, United States  224.41  March 2023  fixedCitiesMedian

In [13]:
dfcm = pd.read_excel(path2, header=0, skiprows=evens)
dfcm.head()

                              City    Mbps       Month                Name
0                 Ar-Rayyan, Qatar  223.87  March 2023  mobileCitiesMedian
1      Dubai, United Arab Emirates  210.70  March 2023  mobileCitiesMedian
2              Copenhagen, Denmark  198.92  March 2023  mobileCitiesMedian
3  Abu Dhabi, United Arab Emirates  179.63  March 2023  mobileCitiesMedian
4                     Oslo, Norway  177.06  March 2023  mobileCitiesMedian

In [15]:
dfgf = pd.read_excel(path3, header=0, skiprows=evens)
dfgf.head()

                Country    Mbps       Month         Name
0             Singapore  235.40  March 2023  fixedMedian
1  United Arab Emirates  221.87  March 2023  fixedMedian
2                 Chile  220.39  March 2023  fixedMedian
3                 China  216.83  March 2023  fixedMedian
4               Denmark  203.78  March 2023  fixedMedian

In [16]:
dfgm = pd.read_excel(path4, header=0, skiprows=evens)
dfgm.head()

                Country    Mbps       Month          Name
0  United Arab Emirates  178.25  March 2023  mobileMedian
1                 Qatar  174.56  March 2023  mobileMedian
2                Norway  143.55  March 2023  mobileMedian
3                Kuwait  135.63  March 2023  mobileMedian
4               Denmark  129.95  March 2023  mobileMedian

In [18]:
dfcf[['City', 'Country']] = dfcf.City.str.split(',', expand=True)
dfcf.head()

        City    Mbps       Month               Name                Country
0    Beijing  264.92  March 2023  fixedCitiesMedian                  China
1  Abu Dhabi  261.97  March 2023  fixedCitiesMedian   United Arab Emirates
2   Shanghai  232.08  March 2023  fixedCitiesMedian                  China
3    Bangkok  224.67  March 2023  fixedCitiesMedian               Thailand
4   New York  224.41  March 2023  fixedCitiesMedian          United States

In [19]:
dfcm[['City', 'Country']] = dfcm.City.str.split(',', expand=True)
dfcm.head()

         City    Mbps       Month                Name                Country
0   Ar-Rayyan  223.87  March 2023  mobileCitiesMedian                  Qatar
1       Dubai  210.70  March 2023  mobileCitiesMedian   United Arab Emirates
2  Copenhagen  198.92  March 2023  mobileCitiesMedian                Denmark
3   Abu Dhabi  179.63  March 2023  mobileCitiesMedian   United Arab Emirates
4        Oslo  177.06  March 2023  mobileCitiesMedian                 Norway

In [22]:
cityFixedMedian = dfcf.to_excel('cityFixedMedian.xlsx', index=False)
cityMobileMedian = dfcm.to_excel('cityMobileMedian.xlsx', index=False)
globalFixedMedian = dfgf.to_excel('globalFixedMedian.xlsx', index=False)
globalMobileMedian = dfgm.to_excel('globalMobileMedian.xlsx', index=False)